*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

/* header  */
.app-title{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}
header{
    background-color: white;
    padding-top: 10px;
    padding:15px 20px 10px;
}

/* /header  */

/* inizio main  */
.conteiner{
    
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    border-radius: 5px;
    padding-bottom: 40px;
    
}
/* nav  */
.nav{
border-bottom:3px solid #f6f8f9;
padding-bottom: 5px;
}
 
.botton {
    margin-left: 50px;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    color: white;
    background-color: #14aaf5;
    border-radius: 5px;
}

.botton-2 {
    border:2px solid #f6f8f9;
    margin-top: 10px;
    width: 90px;
    height: 30px;
    color: #dbdfe2;
    border-radius: 5px;  
    font-weight: 400;  
}
/* /nav  */
/* dimensioni celle  */
.row{
    margin-left: 50px;
    margin-top: 30px;
    
    
}
.margin{
    margin-top: 10px;
    margin-left: 50px;
}
/* /dimensioni celle  */
/* testo main  */
.text-task{
    font-size: 25px;
    color: #434851;
    margin-bottom: 18px;
}

.font-18{
    font-size: 18px;
}
/* /testo main  */
/* cerchi  */
.circle{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid green;
    text-align: center;
    line-height: 20px;
    font-weight: 800;
    color: green;
    margin-right: 10px;
    
}

.circle-red{
    color: red;
    border:1px solid red;
}
/* /cerchi  */

/* tag  */
.tag{
    display: inline-block;
    background-color: #14aaf5;
    color: white;
    border-radius: 16px;
    padding: 6px 10px;
    margin-left: 10px;
}

.tag-viola {
    background-color: #ab5de6;
}
.tag-viola-chiaro{
    background-color: #ec4a9d;
}
.tag-verde{
    background-color: #2cc6ab;
}
.tag-verde-chiaro{
    background-color: #a3d116;
}

.tag-giallo{
    background-color: #ff9b00;
}
/* /tag  */